/* ---------------BASE--------------- */

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #404bbf;
  --accent-background-color: #4d5ae5;
  --secondary-accent-background-color: #2e2f42;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* ---------------HEADER--------------- */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-background-color);
  margin-right: 76px;
}

.logo-part {
  color: var(--secondary-text-color);
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 40px;
  padding: 24px 0;
}

.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  padding: 24px 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.contact-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: flex;
  gap: 40px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  gap: 40px;
}

.current {
  color: var(--accent-color);
}

/* ---------------MAIN--------------- */

/* ---------------SECTION ONE--------------- */

.hero {
  background-color: var(--secondary-accent-background-color);
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  max-width: 496px;
  margin: 0 auto 48px;
}

.main-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--accent-background-color);
  display: block;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  align-items: center;
  margin: 0 auto;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-color);
}

/* ---------------SECTION TWO--------------- */

.our-actions {
  padding: 120px 0;
}

.our-actions-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-actions-list {
  display: flex;
  gap: 24px;
}

.our-actions-item {
  width: calc((100% - 72px) / 4);
}

.our-actions-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.our-actions-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* ---------------SECTION THREE--------------- */

.we-doing-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

/* ---------------SECTION FOUR--------------- */

.container-team {
  background-color: var(--cloud-color);
}

.fourth-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.team-list {
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* ---------------FOOTER--------------- */
.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.container-footer {
  background-color: var(--secondary-accent-background-color);
}

.logo-footer {
  color: var(--cloud-color);
}

.descr-footer {
  color: var(--cloud-color);
}

/* ---------------PORTFOLIO--------------- */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-background-color);
  background-color: var(--cloud-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
