/* BASE */

:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-text-color: #434455;
    --secondary-text-color: #2E2F42;
    --accent-color: #404BBF;
    --accent-background-color: #4D5AE5;
    --secondery-accent-background-color: #2E2F42;
    --white-color: #ffffff;
    --cloud-color: #f4f4fd;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  }


/* HEADER */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-background-color);
}

.logo-part {
  color: var(--secondary-text-color);
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* MAIN */

/* SECTION ONE */

.container-hero {
  background: var(--secondery-accent-background-color);
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.main-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--accent-background-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
}

.main-btn:hover,
.main-btn:focus {
  background: var(--accent-color);
}

/* SECTION TWO */

.second-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* SECTION THREE */

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

/* SECTION FOUR */

.container-team {
  background: var(--cloud-color);
}

.fourth-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.team-list {
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
}

/* FOOTER */

.container-footer {
  background: var(--secondery-accent-background-color);
}

.logo-footer {
  color: var(--cloud-color);
}

.descr-footer {
  color: var(--cloud-color);
}

/* PORTFOLIO */

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-background-color);
  background: var(--cloud-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background: var(--accent-color);
}
